

#content {
    width:950px;
}

#content img{
    width:100%;
}

.parText {
    font-size:18px;
    font-family:'微软雅黑';
    float:left;
    color:rgb(165,153,153);
    margin-top:12px;
    margin-right:14px;
    margin-left:10px;
}

.infoParText {
    font-size:15px;
    font-family:Apple LiGothic Medium ;
    float:left;
    color:rgb(165,153,153);
    margin-right:10px;
    margin-left:10px;
}