



.editBtnMinBox{
    margin-left:16px;
    display:none;
    float:left;
    height:50px;
    line-height:50px;


}

#infoEditBtnAff {
    display:none;
}
.saveAnCloseBox {
    display:none;
}

.inputText{
    float:left;
    display:none;
    width:200px;
}
.lineTextBox {
    float:left;
}

.stateList {
    display:none;
}

/*删除图片按钮样式*/
.picDelBox {
    position:absolute;
    font-size:16px;
    color:red;
    font-family:"微软雅黑";
    width:100px;
    height:20px;
    left:0px;
    top:0px;
    z-index:999;
}

/*一个图片的盒子*/
.picDiv {
    position:relative;
    left:0px;
    top:0px;
}
/*整体盒子*/
.onPicBox {
    position:relative;
}

.parSelEditTable {
    width:500x;
}

#parSelToolBtnBox {

}

#parSelConBox {
    display:none;
}